.footer{width: 100%;

display: flex;
flex-direction: column;}

.box1-footer{width: 100%;
        padding: 90px 7.9% 0;
    background-color: var(--header);}

.container-main-info-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-box-footer{display: flex;
flex-direction: column;width: 348.04px;
gap: 36px;}


.logo-footer{    width: 254.24px;
    height: 49.72px;
    object-fit: contain;;}


.para-footer{color: var(--parag);
font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 140%; /* 25.2px */}



.list-icons-footer{display: flex;
flex-direction: row;
gap: 20px;
list-style-type: none;
align-items: center;}

.socialmedia-icons{cursor: pointer;}















