.footer{width: 100%;

display: flex;
flex-direction: column;}

.box1-footer{width: 100%;
        padding: 90px 7.9% 97px;
    background-color: var(--header);}

.container-main-info-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-box-footer{display: flex;
flex-direction: column;width: 348.04px;
gap: 36px;}


.logo-footer{    width: 254.24px;
    height: 49.72px;
    object-fit: contain;;}


.para-footer{color: var(--parag);
font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 140%; /* 25.2px */}



.list-icons-footer{display: flex;
flex-direction: row;
gap: 20px;
list-style-type: none;
align-items: center;}

.socialmedia-icons{cursor: pointer;}

.right-box-footer{
    display: flex;
    flex-direction: row;
    gap: 50px;
}


.list-footerr{list-style-type: none;
display: flex;
flex-direction: column;
gap: 20px;}


.list1-footer{display: flex;
flex-direction: column;
gap: 26px;}

.last-part-footer{width: 100%;
height: 42.088px;
background: var(--background);
padding: 0 7.9%;
display: flex;
justify-content: center;
align-items: center;}


.smalltext{color: var(--text);
text-align: center;
font-family: Montserrat;
font-size: 10px;
font-weight: 500;
line-height: 150%; /* 15px */}




/* Mobile screen */
@media(max-width: 501px) {
    
    .container-main-info-footer {
    display: flex;
    flex-direction: column;
    gap: 46px;
    justify-content: space-between;
    align-items: center;
}
.right-box-footer {
    display: flex;
    flex-direction: column;
    gap: 46px;
}
.left-box-footer {
    align-items: center;}

    .list1-footer {
    align-items: center;}
.list-footerr {
    align-items: center;}

.box1-footer {
    padding: 90px 20px 97px;}
    .para-footer {
        font-size: 16px;
    text-align: center;}
}

/* Tablet screen */
@media (min-width: 501px) and (max-width: 900px) {


    .container-main-info-footer {
    display: flex;
    flex-direction: column;
    gap: 46px;
    justify-content: space-between;
    align-items: center;
}
.right-box-footer {
    display: flex;
    flex-direction: column;
    gap: 46px;
}
.left-box-footer {
    align-items: center;}

    .list1-footer {
    align-items: center;}
.list-footerr {
    align-items: center;}

.box1-footer {
    padding: 90px 7.3% 97px;}
.para-footer {
    text-align: center;}

}



