.headerr{width: 100%;height: 100px;
background-color: var(--header);
padding: 0 7.9%;
display: flex;
flex-direction: row;position: fixed;
z-index: 1111;
align-items: center;
box-shadow: 0 4px 4px 0 var(--hedaer-shadow);}

.list-nav-header{display: flex;
flex-direction: row;
gap: 22px;
align-items: center;
list-style-type: none;}



.navheaderr{color: var(--text);
    position: relative;
font-family: Montserrat;
cursor: pointer;
font-size: 18px;
text-decoration: none;
font-weight: 500;
line-height: 120%; /* 21.6px */
}
.navheaderr:hover::after {
  width: 100%;
}

.logoo{display: block;}




.nav-header-right-box{display: flex;
flex-direction: row;
align-items: center;
gap: 16px;}


.themecta{display: flex;
width: 40.911px;
height: 40.911px;
justify-content: center;
align-items: center;
gap: 9.848px;
border-radius: 20.455px;
border-color: transparent;
background: var(--headercta);}

.theme-imgg{display: block;}

.nav-headerr{display: flex;
flex-direction: row;width: 100%;
justify-content: space-between;
align-items: center;}

.burgermenucontainer{display: none;cursor: pointer;}


.burgermenucontainer.show {
  display: flex;
  flex-direction: column;
}



.list-nav-header2{display: flex;
flex-direction:column;
gap: 22px;
width: 200px;
align-items: center;position: absolute;
right: 0;display: none;
    top: 100px;
list-style-type: none;
background-color: var(--header);
padding: 20px;}


.list-nav-header2.show {
  display: flex;
  flex-direction: column;
}


@media (max-height: 887px) and (min-height: 630px) {
  .headerr {
    width: 100%;
    height: 84px;}
}


/* Mobile screen */
@media(max-width: 501px) {
.burgermenucontainer{display: flex;}
.list-nav-header{display:none}
.headerr {
    padding: 0 20px;}
}


/* Tablet screen */
@media (min-width: 501px) and (max-width: 900px) {
    .burgermenucontainer{display: flex;}
    .list-nav-header{display:none}
.headerr {
    padding: 0 7.3%;}



}

/* normal screen screen */
@media (min-width: 900px ) and (max-width: 1280px) {

}
