:root {
  --header: #D0CCD0;;
  --hedaer-shadow: rgba(0, 0, 0, 0.25);
  --text: #1D2021;
  --headercta: #FBFCFF;
  --cta: #1C6E8C;
  --ctahover: #15596b;
  --background:#FBFCFF;
  --parag:rgba(29, 32, 33, 0.80);
  --ctashadow:rgba(0, 0, 0, 0.14);
  --white:#FFF;
  --bluryeffect:#1C6E8C;
  --profilestrok:#274156;
  --design:#1C6E8C;
  --smalltitle: #1C6E8C;
  --design2:  #274156;
  --border-box-sec2: rgba(28, 110, 140, 0.00);
  --border-box2-sec2: rgba(28, 110, 140, 0.00);
  --paragwhite: rgba(255, 255, 255, 0.74);
  --faqline: #595F61;
  --form: #595F61;
  --error: #721c24;
  --errorbackground:#f8d7da;
  --success:#155724;
  --successbackground:#d4edda;



}



*{margin: 0;
padding: 0;
box-sizing: border-box;}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var( --header);
}

::-webkit-scrollbar-thumb {
  background: var(--design);
  border-radius: 10px;
}