:root {
  --header: #D0CCD0;;
  --hedaer-shadow: rgba(0, 0, 0, 0.25);
  --text: #1D2021;
  --headercta: #FBFCFF;
  --cta: #1C6E8C;
  --background:#FBFCFF;
  --parag:rgba(29, 32, 33, 0.80);
  --ctashadow:rgba(0, 0, 0, 0.14);
  --white:#FFF;
}



*{margin: 0;
padding: 0;
box-sizing: border-box;}