:root {
  --header: #D0CCD0;;
  --hedaer-shadow: rgba(0, 0, 0, 0.25);
  --text: #1D2021;
  --headercta: #FBFCFF;
  --cta: #1C6E8C;
  --ctahover: #15596b;
  --background:#FBFCFF;
  --parag:rgba(29, 32, 33, 0.80);
  --ctashadow:rgba(0, 0, 0, 0.14);
  --white:#FFF;
  --bluryeffect:#1C6E8C;
  --profilestrok:#274156;
  --design:#1C6E8C;
  --smalltitle: #1C6E8C;
  --design2:  #274156;
}



*{margin: 0;
padding: 0;
box-sizing: border-box;}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--design);
  border-radius: 10px;
}