.sec1{width: 100%;
height: 100vh;
background-color: var(--background);

padding: 176px 7.9% 0;}

.container-sec1{display: flex;
flex-direction: column;}

.box-one-sec1{display: flex;
flex-direction: column;

}
.header-sec1{color: var(--text);
font-family: "Noto Serif";
font-size: 126.83px;
    font-size: clamp(24px, 10vw, 176px);
font-style: normal;
font-weight: 500;
  line-height: clamp(60px, 12vw, 200px);}
.header2-sec1{color: var(--text);
font-family: "Noto Serif";
font-size: 126.83px;
    font-size: clamp(24px, 10vw, 176px);
font-style: normal;
font-weight: 500;text-align: end;
  line-height: clamp(60px, 12vw, 200px);}

.box2-sec1{display: flex;
flex-direction: row;}

.subbox1-sec1{display: flex;
flex-direction: column;
width: 255px;
gap: 25px;}

.para1-sec1{overflow: hidden;
color: var(--parag);
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 25.2px */}
