.sec4{
    width: 100%;
    padding: 158px 7.9% 79px;
    background-color: var(--background);
    display: flex;
    justify-content: center;}

.container-sec4{max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: column;
gap: 87px;}

.title-container-sec4{width: 608.56px;}

.faqs-big-container-sec4{display: flex;
flex-direction: column;
gap: 26px;}




/* Mobile screen */
@media(max-width: 501px) {
        .sec4 {
        padding: 150px 20px 75px;
    }
.title-container-sec4 {
    width: 100%;
}



}



/* Tablet screen */
@media (min-width: 501px) and (max-width: 900px) {
    .sec4 {
        padding: 155px 7.3% 77px;
    }

.title-container-sec4 {
    width: 100%;
}


}













