.card-sec3{display: flex;

    height: fit-content;
padding: 27px 21px;
flex-direction: column;
align-items: center;
gap: 20px;
border-radius: 15px;
 overflow: hidden; 
 cursor: pointer;
background: var(--background);
    box-shadow: 0 1px 8px 0 var(--hedaer-shadow);
  flex: 1 1 280px; 
  min-width: 335px; 
}

.header-title-sec3{color: var(--text);
text-align: center;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;}

.para-title-sec3{color: var(--parag);
text-align: center;
font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 140%; /* 25.2px */}

.img-sec3{
    width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}


.img-wrapper {
  width: 100%;
  height: 176.7px;
  overflow: hidden;  
  border-radius: 5px;
}

.card-sec3:hover .img-sec3 {
  transform: scale(1.09);
}


/* Mobile screen */
@media(max-width: 501px) {
   .para-title-sec3{
font-size: 16px;}
    .img-wrapper {
    width: 100%;
    height: 182.7px;
    }
.card-sec3 {
    padding: 20px;}
}


/* Tablet screen */
@media (min-width: 501px) and (max-width: 900px) {
    .img-wrapper {
    width: 100%;
    height: 217.7px;}
}













