.card-sec3{display: flex;
width: 100%;
    height: fit-content;
padding: 27px 21px;
flex-direction: column;
align-items: center;
gap: 20px;
border-radius: 15px;
 overflow: hidden; 
 cursor: pointer;
background: var(--background);}

.header-title-sec3{color: var(--text);
text-align: center;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;}

.para-title-sec3{color: var(--parag);
text-align: center;
font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 140%; /* 25.2px */}

.img-sec3{
    width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}


.img-wrapper {
  width: 100%;
  height: 145.7px;
  overflow: hidden;  
  border-radius: 5px;
}

.card-sec3:hover .img-sec3 {
  transform: scale(1.09);
}