.form{display: flex;
width: 100%;
height: fit-content;
padding: 40px 37px 0;
gap: 30px;
flex-direction: column;
border-radius: 15px;
border: 1px solid var(--form);}

.form-title{
    color: var(--text);
font-family: Montserrat;
font-size: 28px;
font-weight: 700;
line-height:62%; 
}

.fieldset{display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
align-self: stretch;
border-color: transparent;}

.input-name{color: var(--text);
font-family: Montserrat;
font-size: 24px;
font-weight: 500;
line-height: 140%; /* 33.6px */}


.input-form{    height: 40.911px;
    align-self: stretch;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--form);
    padding: 0 15px;;color: var(--text);
font-family: Montserrat;font-weight: 400;
    background-color: transparent;
font-size: 18px;}

.input-form:focus {
  outline: none;
  border: 1px solid var(--form);
}

.textareaa{height: 87.91px;
    align-self: stretch;
    border-radius: 5px;
    padding: 15px;
border: 1px solid  var(--form);
;color: var(--text);
background-color: transparent;
font-family: Montserrat;font-weight: 400;
font-size: 18px;}

.textareaa:focus {
  outline: none;
  border: 1px solid var(--form);
}



.container-input{display: flex;flex-direction: column;
gap: 16px;
border-color: transparent;}


.success {
  background-color: var(--successbackground);
  color: var(--success);
  padding: 10px;
  border-radius: 5px;
  font-weight: 400;
  text-align: center;
  font-family: Montserrat;
font-size: 18px;
margin-bottom: 40px;
}

.error {
  background-color: var(--errorbackground);
  color: var(--error);
  padding: 10px; 
  border-radius: 5px;
  font-weight: 400;
  text-align: center;
    font-family: Montserrat;
font-size: 18px;
margin-bottom: 40px;
}


/* Mobile screen */
@media(max-width: 501px) {
    .error {
font-size: 16px;
}

   .success  {
font-size: 16px;
}

.form-title {    line-height: 88%;
    font-size: 24px;}

.input-name {
    font-size: 20px;}
.input-form {
    font-size: 16px;}
.textareaa {
    font-size: 16px;}

.form {    gap: 20px;
    display: flex;
    width: 100%;
    height: fit-content !important;
    padding: 24px 20px 0 !important}

.error {

margin-bottom: 20px !important
}
.success {margin-bottom: 20px !important}
}




/* Tablet screen */
@media (min-width: 501px) and (max-width: 900px) {

  .form {
    gap: 20px;}

.form-title {
    line-height: 72%;}

}