.iconcontainer-sec2{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.icon-container{width: 72px;
height: 72px;border-radius: 8px;
background: var(--design2);
display: flex;
justify-content: center;
align-items: center;}

.text-part-column{display: flex;
flex-direction: column;
    justify-content: center;
gap: 10px;}


.title-icon{color: var(--text);
font-family: Montserrat;
font-size: 20px;
font-weight: 600;
line-height: normal;}

.para-icon{color: var(--parag);
font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: normal;}



/* Mobile screen */
@media(max-width: 501px) {
    .icon-container{width: 64px;
height: 64px;}

.para-icon {
    color: var(--parag);
    font-family: Montserrat;
    font-size: 16px;
}
.iconcontainer-sec2 {

    gap: 15px;}

}