.fixedcta{
    display: flex;
width: 62.623px;
height: 62.623px;
justify-content: center;
align-items: center;
gap: 9.206px;
aspect-ratio: 1/1;
border-radius: 41.97px;
border: 2px solid var(--fixedctaborder);
background: var(--fixedcta);
box-shadow: -2px 4px 4px 0 var(--hedaer-shadow);
position: fixed;
bottom: 100px;
z-index: 11111;
right: 7.9%;
cursor: pointer;
}